#!/bin/sh

[ -f ~/.profile ] && . ~/.profile
[ -f $XDG_CONFIG_HOME/xprofile.local ] && . $XDG_CONFIG_HOME/xprofile.local

if [ -f $XDG_CONFIG_HOME/xmodmap ]; then
    xmodmap $XDG_CONFIG_HOME/xmodmap
fi
if [ -f "$XDG_CONFIG_HOME/xresources" ]; then
    xrdb -merge "$XDG_CONFIG_HOME/xresources"
fi
if [ -f "$XDG_CONFIG_HOME/xresources.local" ]; then
    xrdb -merge "$XDG_CONFIG_HOME/xresources.local"
fi

nitrogen --restore &

if ! pgrep redshift >/dev/null ; then
    redshift &
fi

#if ! pgrep -x x11vnc >/dev/null ; then
#    x11vnc -bg & # fork immediately, otherwise awm startup delay
#fi

export MOZ_USE_XINPUT2=1
export GIMP2_DIRECTORY="$XDG_CONFIG_HOME/gimp"
