#!/bin/sh

[ -f ~/.xprofile.local ] && . ~/.xprofile.local

if [ -f $HOME/.xmodmap ]; then
    xmodmap $HOME/.xmodmap
fi
if [ -f $HOME/.Xresources ]; then
    xrdb -merge $HOME/.Xresources
fi

if [ -d "$HOME/.bin" ] ; then
    export PATH="$HOME/.bin:$PATH"
fi

nitrogen --restore &

if ! pgrep redshift >/dev/null ; then
    redshift &
fi

#if ! pgrep -x x11vnc >/dev/null ; then
#    x11vnc -bg & # fork immediately, otherwise awm startup delay
#fi
